html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff;
  font-family: Droid Sans;
  margin: 0;
  padding: 0;
  padding-bottom: 44px;
  width: 100%;
  -webkit-user-select: none;
}

#footer {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(235, 235, 235, 0.90)),
      color-stop(0.21, rgba(235, 235, 235, 0.95)),
      to(rgba(235, 235, 235, 1.0)));
  background-repeat: no-repeat;
  background-position: left;
  border-top: 1px solid #A4A4A4;
  bottom: 0;
  display: none; /* When position fixed is fixed, we can use a fully html NTP again */
  height: 52px;
  position: fixed;
  width: 100%;
  -webkit-box-orient: horizontal;
  z-index: 1;
}

#footer_section_buttons {
 background-color: #C6C6C6;
 display: -webkit-box;
 max-width: 500px;
 position: relative;
  -webkit-box-flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-mask-image: -webkit-canvas(navigation-clip);
}

#footer_section_button_bg {
  background-color: #7F7F7F;
  height: 100%;
  left: -200px;
  position: absolute;
  width: 33%;
  -webkit-transition: left linear 0.2s;
}

.footer-bubble {
  background: #EBEBEB;
  border: 1px solid #A4A4A4;
  font-size: 14pt;
  padding: 3px 8px;
  position: absolute;
  -webkit-border-radius: 4px;
  -webkit-transition: opacity 0.5s linear;
}

.footer-bubble-hidden {
  opacity: 0;
}

.footer-bubble-arrow {
  background: -webkit-canvas(footer-bubble-arrow) bottom center no-repeat;
  bottom: -4px;
  display: inline-block;
  height: 4px;
  position: absolute;
  width: 8px;
}

.section-button {
  margin: 10px;
  padding: 2px;
  text-align: center;
  -webkit-box-flex: 1;
}

.section-button.focused {
  background-color: #A7A7A7;
}

.empty {
  padding-top: 30px;
  text-align: center;
}

.welcome-to-chrome {
  background: url('welcome_thumb.png')
}

.center_empty_container {
  display: -webkit-box;
  left: 0px;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
}

.center_empty_content {
  font-size: 14pt;
  width: 275px;
}

.promo-action-target {
  -webkit-tap-highlight-color: transparent;
}

.promo-message {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  margin: 16px 24px 16px 24px;
  text-align: center;
}

.promo-button {
  background: -webkit-gradient(
      linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08),
      inset 0px 0px 2px rgba(255, 255, 255, 0.6);
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  text-align: center;
}

.promo-button-active {
  -webkit-tap-highlight-color: transparent;
  background: rgba(51, 181, 229, 0.4);
}

.promo-sync-graphic {
  background-image: url('imgs/syncfographic_mdpi.png');
  background-repeat: no-repeat;
  height: 130px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .promo-sync-graphic {
    background-image: url('imgs/syncfographic_hdpi.png');
    height: 195px;
    zoom: 0.66;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0) {
  .promo-sync-graphic {
    background-image: url('imgs/syncfographic_xhdpi.png');
    height: 260px;
    zoom: 0.5;
  }
}

body[device="tablet"] .promo-sync-graphic {
  background-image: url('imgs/syncfographic_sw600dp_mdpi.png');
  background-repeat: no-repeat;
  height: 260px;
  zoom: 0.5;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body[device="tablet"] .promo-sync-graphic {
    background-image: url('imgs/syncfographic_sw600dp_hdpi.png');
    height: 390px;
    zoom: 0.33;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0) {
  body[device="tablet"] .promo-sync-graphic {
    background-image: url('imgs/syncfographic_sw600dp_xhdpi.png');
    height: 520px;
    zoom: 0.25;
  }
}
