.list-item {
  background: transparent;
  height: 50px;
  padding-top: auto;
  padding-bottom: auto;
  position: relative; /* So the fader can be positioned at the end */
  -webkit-tap-highlight-color: transparent;
  -webkit-transition-property: background;
  -webkit-transition: 0.3s linear;
}

.list-item-active,
.session-header .list-item.list-item-active {
  background: rgba(51, 181, 229, 0.4);
  -webkit-tap-highlight-color: transparent;
}

.list-item-active.no-active-delay {
  -webkit-transition: none;
}

.list-item.standard-divider {
  border-bottom: 1px solid #c1c1c1;
}

.list-item .section-divider {
  background-color: #777777;
  bottom: 0px;
  height: 2px;
  position: absolute;
  width: 100%;
}

.list-item .icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  position: absolute;
  height: 48px;
  left: 0;
  width: 48px;
}

.list-item .title {
  color: #4c4c4c;
  display: -webkit-box;
  font-size: 16px;
  height: 100%;
  left: 50px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(rgba(0,0,0,1)),
    color-stop(0.85, rgba(0,0,0,1)),
    color-stop(0.95, rgba(0,0,0,0)),
    to(rgba(0,0,0,0))
  );
}

.session-header .list-item {
  background: #ebebeb;
}

.title .session-name {
  color: #4c4c4c;
  font-weight: bold;
}

.title .session-last-synced {
  color: #8f8f8f;
  font-weight: bold;
}

.session-children-container {
  height: 100%; /* needed for collapse animation */
  overflow: hidden;
  -webkit-transition: height .2s ease-in-out;
}

.session-header {
  position: relative;
}

.expando {
  background-size: 100%;
  height: 13px;
  margin-top: -6.5px;
  position: absolute;
  right: 18.5px;
  top: 50%;
  width: 14px;
}

.expando.open {
  background-image: url('disclosure_open_mdpi.png');
}

.expando.closed {
  background-image: url('disclosure_closed_mdpi.png');
}

.session-icon.laptop {
  background-image: url('laptop_mdpi.png')
}

.session-icon.tablet {
  background-image: url('tablet_mdpi.png')
}

.session-icon.phone {
  background-image: url('phone_mdpi.png')
}

.session-icon.documents {
  background-image: url('sent_mdpi.png')
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .expando.open {
    background-image: url('disclosure_open_hdpi.png');
  }
  .expando.closed {
    background-image: url('disclosure_closed_hdpi.png');
  }
  .session-icon.laptop {
    background-image: url('laptop_hdpi.png')
  }
  .session-icon.tablet {
    background-image: url('tablet_hdpi.png')
  }
  .session-icon.phone {
    background-image: url('phone_hdpi.png')
  }
  .session-icon.documents {
    background-image: url('sent_hdpi.png')
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0) {
  .expando.open {
    background-image: url('disclosure_open_xhdpi.png');
  }
  .expando.closed {
    background-image: url('disclosure_closed_xhdpi.png');
  }
  .session-icon.laptop {
    background-image: url('laptop_xhdpi.png')
  }
  .session-icon.tablet {
    background-image: url('tablet_xhdpi.png')
  }
  .session-icon.phone {
    background-image: url('phone_xhdpi.png')
  }
  .session-icon.documents {
    background-image: url('sent_xhdpi.png')
  }
}

.session-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  height: 48px;
  width: 48px;
}